/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Google Font*/
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(catbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
}

