/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Google Font*/
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(catbg.jpg); /* Default background image for smaller screens */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Ensures the background image covers the entire viewport */
}


nav {
	position: fixed;
	top: 0;
	width: 100%;
}

/* External CSS for the landing class */
.landing {
    max-width: 100%;
}


.text-landing img {
    max-width: 100%;
    border-radius: 50%; 
    margin: 5px; 
}

.card img {
    height: auto;
    max-width: 80%;
}

.my-project-card {
    max-width: 18rem;
}

.my-project-image {
    height: auto;
    max-width: 100%;
}


.custom-padding {
    max-width: 300px;
}


.html-image,
.css-image,
.bootstrap-image,
.javascript-image {
    height: auto;
    max-width: 100%;
}