/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Google Font*/
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(catbg.jpg); /* Default background image for smaller screens */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Ensures the background image covers the entire viewport */
}

@media (min-width: 1200px) {
  

nav {
	position: fixed;
	top: 0;
	width: 100%;
}

